.book-card {
  margin: 29px;
  height: auto;
}

#book-image {
  width: 150px;
  height: 220px;
  cursor: pointer;
}

#book-title {
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  bottom: 100px;
}

.small-description {
  color: white;
  font-size: 17px;
  font-weight: 500;
}

.small-description span {
  font-weight: 400;
}

.description-card {
  position: relative;
  left: 163px;
  bottom: 150px;
}

