.book-card {
  margin: 50px;
}

img {
  width: 150px;
  height: 220px;
}

#book-title {
  color: #ffffff;
}

.small-description {
  color: white;
  font-size: 20px;
}

.description-card {
  position: relative;
  left: 163px;
  bottom: 150px;
}

