<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NeoLibrary</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/book.css">
    <link rel="stylesheet" href="/assets/css/books.css">
    <link rel="stylesheet" href="/assets/css/Growing-Search-Bar-Animated-Text-Input.css">
    <link rel="stylesheet" href="/assets/css/Lightbox-Gallery-baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Right-Links-Dark-icons.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark"
        style="box-shadow: 0px 0px #7ddd30;border-color: var(--bs-success);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span
                    class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg
                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                        viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd"
                            d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z">
                        </path>
                        <path
                            d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z">
                        </path>
                    </svg></span><span style="color: var(--bs-navbar-brand-color);">Neo Library</span></a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Livros</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Carrinho</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Perfil</a></li>
                </ul>
                <div class="d-flex justify-content-center h-100" style="padding-left: 39px;">
                    <div class="searchbar"><input type="text" class="search_input" placeholder="Buscar..."><a
                            class="search_icon" href="#"><i class="fas fa-search"></i></a></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="book-card" th:each="livro : ${book}"><img id="book-image" th:src="${livro.coverImage}"
            style="width: 300px;height: 440px;">
        <div class="description-card-onpage" style="width: 200px;">
            <h4 id="book-title-onpage" th:text="${livro.title}">Title</h4>
            <p class="small-description">Autor:&nbsp;<span th:text="${livro.authors}">Text</span></p>
            <p class="small-description">Gênero:&nbsp;<span th:text="${livro.genres}">Text</span></p>
            <p class="small-description">ISBN:&nbsp;<span th:text="${livro.isbn}">Text</span></p>
            <p class="small-description">Quantidade:&nbsp;<span th:text="${livro.quantity}">Text</span></p>
        </div>
    </div>
    <div th:each="livro : ${book}" style="margin-left: 33px;">
        <h5 style="color: var(--bs-body-bg);width: 100px;">Descrição:</h5>
        <p style="color: var(--bs-body-bg);" th:text="${livro.description}">Lorem ipsum dolor sit amet. Non dolores
            dolore est doloremque neque aut sint doloribus eos molestias alias et maiores ipsa sed voluptas consectetur.
            In inventore reiciendis aut reiciendis tenetur eos debitis magnam qui quae veniam vel facere maiores quo
            fugit voluptas eum ipsam consequatur! Est quis Quis et exercitationem nostrum ut galisum galisum sit tempora
            accusantium hic dolore molestiae ab iusto quia qui assumenda consequatur. Vel recusandae sint ut cupiditate
            minus At ipsum blanditiis id esse veritatis et quos error! Id assumenda similique At autem earum et amet
            officia sit dicta suscipit ut expedita adipisci. Qui rerum voluptas eum ullam repellendus a error dolorum
            est molestias doloremque et ipsa quia. Ad quisquam possimus et amet odit et neque rerum in expedita tenetur.
            Et corrupti ipsam ut mollitia consequatur non iure voluptatibus et maiores rerum vel nobis dolore.</p>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/image-preview.js"></script>
    <script src="/assets/js/Lightbox-Gallery-baguetteBox.min.js"></script>
    <script src="/assets/js/Lightbox-Gallery.js"></script>
</body>

</html>